
@{
    ViewData["Title"] = "sampledemo3";
}

<h1>sampledemo3</h1>
<h2>Name : @ViewBag.Name;</h2>
<h2>Age: @ViewBag.Age;</h2>
<h2>Messsage: @ViewData["Message"]</h2>
<h2>year: @ViewData["Year"]</h2>

